svg {
    border: none;
}

.node rect,
.node circle,
.node polygon,
.node ellipse {
    stroke: black;
    fill: #fff;
}

.node.current rect {
    stroke: red;
    fill: #fff;
    stroke-width: 2;
}

.edgePath path {
    stroke: black;
    fill: black;
    stroke-width: 1.5px;
}
